                <footer class="mil-dark-bg">
                    <div class="mi-invert-fix">
                        <div class="container mil-p-120-60">
                            <div class="row justify-content-between">
                                <div class="col-md-4 col-lg-4 mil-mb-60">
                                    <div class="mil-logo mil-up mil-mb-30"><img src="img/logo.png" /></div>
                                    <p class="mil-light-soft mil-mb-60">Welcome to our world of endless imagination
                                            and boundless creativity. Together, let's embark on a remarkable journey
                                            where dreams become tangible realities.</p>
                                </div>
                                <div class="col-md-7 col-lg-6">
                                    <div class="row justify-content-end">
                                        <div class="col-md-6 col-lg-7">

                                            <nav class="mil-footer-menu mil-mb-60">
                                                <ul>
                                                    <li class="mil-up">
                                                        <a href="index.html">Home</a>
                                                    </li>
                                                    <li class="mil-up">
                                                        <a href="services.html">Services</a>
                                                    </li>
                                                    <li class="mil-up">
                                                        <a href="contact.html">Contact</a>
                                                    </li>
                                                    <li class="mil-up">
                                                        <a href="blogs.html">Blogs</a>
                                                    </li>
                                                </ul>
                                            </nav>

                                        </div>
                                        <div class="col-md-6 col-lg-5">

                                            <ul class="mil-menu-list mil-up mil-mb-60">
                                                <li><a href="#." class="mil-light-soft">Privacy Policy</a></li>
                                                <li><a href="#." class="mil-light-soft">Terms and conditions</a></li>
                                                <li><a href="#." class="mil-light-soft">Careers</a></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-between flex-sm-row-reverse">
                                <div class="col-md-7 col-lg-6">

                                    <div class="row justify-content-between">

                                        <div class="col-md-6 col-lg-5 mil-mb-60">

                                            <h6 class="mil-muted mil-up mil-mb-30">USA</h6>

                                            <p class="mil-light-soft mil-up">71 South Los Carneros Road, California
                                                <span class="mil-no-wrap">+51 174 705 812</span></p>

                                        </div>
                                        <div class="col-md-6 col-lg-5 mil-mb-60">

                                            <h6 class="mil-muted mil-up mil-mb-30">Egypt</h6>

                                            <p class="mil-light-soft mil-up">Leehove 40, 2678 MC De Lier, Netherlands
                                                <span class="mil-no-wrap">+31 174 705 811</span></p>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4 col-lg-6 mil-mb-60">

                                    <div class="mil-vert-between">
                                        <div class="mil-mb-30">
                                            <ul class="mil-social-icons mil-up">
                                                <li><a href="#." target="_blank" class="social-icon"> <i
                                                            class="far fa-circle"></i></a>
                                                </li>
                                                <li><a href="#." target="_blank" class="social-icon"> <i
                                                            class="far fa-circle"></i></a>
                                                </li>
                                                <li><a href="#." target="_blank" class="social-icon"> <i
                                                            class="far fa-circle"></i></a>
                                                </li>
                                                <li><a href="#." target="_blank" class="social-icon"> <i
                                                            class="far fa-circle"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <p class="mil-light-soft mil-up">© Copyright 2024 - Echoes Tech Studio LLC. All
                                            Rights Reserved.
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </footer>